Titanic-Predict.iml
latex/.texpadtmp/Assingnment3.aux
latex/.texpadtmp/Assingnment3.log
latex/.texpadtmp/Assingnment3.out
latex/.texpadtmp/Assingnment3.synctex.gz
latex/.texpadtmp/Assingnment5.aux
latex/.texpadtmp/Assingnment5.log
latex/.texpadtmp/Assingnment5.out
latex/.texpadtmp/Assingnment5.synctex.gz
